echo "[submodule \"C day 00\"]" > .gitmodules
echo "    path = C day 00" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 01\"]" >> .gitmodules
echo "    path = C day 01" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 02\"]" >> .gitmodules
echo "    path = C day 02" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 03\"]" >> .gitmodules
echo "    path = C day 03" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 04\"]" >> .gitmodules
echo "    path = C day 04" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 05\"]" >> .gitmodules
echo "    path = C day 05" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 06\"]" >> .gitmodules
echo "    path = C day 06" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 07\"]" >> .gitmodules
echo "    path = C day 07" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 08\"]" >> .gitmodules
echo "    path = C day 08" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 09\"]" >> .gitmodules
echo "    path = C day 09" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"C day 11\"]" >> .gitmodules
echo "    path = C day 11" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"Rush\"]" >> .gitmodules
echo "    path = Rush" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"Shell day 00\"]" >> .gitmodules
echo "    path = Shell day 00" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

echo "[submodule \"Shell day 01\"]" >> .gitmodules
echo "    path = Shell day 01" >> .gitmodules
echo "    url = <URL_of_the_submodule>" >> .gitmodules

